extends layout

block content
	#clock
		.box
			span#days
			.smalltext Days
		.box
			span#hours
			.smalltext Hours
		.box
			span#minutes
			.smalltext Minutes
		.box
			span#seconds
			.smalltext Seconds
  



