body{
	margin: 5%;
	text-align: center;
	background: #000;
	font-family: sans-serif;
	font-weight: 100;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

#clock{
	font-family: sans-serif;
	color: #fff;
	font-weight: 100;
	font-size: 60px;
}

.box{
	padding: 10px;
	margin: 10px;
	border-radius: 3px;
	background: #7c2020;
	display: inline-block;
}

span{
	padding: 15px;
	border-radius: 3px;
	background: #e82525;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}


@media (min-width:641px)  {
	#clock{
		margin-top: 20%;
	}
}
